# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea
.bat

# gradle
build
.gradle

# other
eclipse
run
formatter/
classes/
build/

# logfiles & licenses
CREDITS*
LICENSE*
MinecraftForge-Credits.txt
Pauls*

